.logo-text{
    color: #7868E6;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    margin-left: 30px;
}
.menu-item{
    text-decoration: none;
    color: #000000;
    padding: 6px 10px;
    margin: 10px;
    border-radius: 8px;
    font-family: 'Open Sans', sans-serif;
}

.logo{
    height: 60px;
}